* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: black;
}

img {
  width: 100%;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 600;
}

h4 {
  font-size: 1.35em;
  font-weight: 600;
}

/*header styling*/
header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: white;
  padding: 10px 0 10px;
  box-shadow: 0 14px 30px 1px rgba(0,0,0,0.04);
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.cover_container {
  padding: 0 15px;

}

.logo {
  max-width: 80px;
}

main {
  padding-top: 126px;
  background-image: url("/img/aboutme/bg01.png");
  background-size:contain;
  background-position: center 126px;
  background-repeat: no-repeat;
}

/*nav*/
a {
  color: #55AEFF;
  text-decoration: none;
  font-weight: 700;
  transition-duration: 0.6s;
}

a:hover,
a:focus {
  color: rgba(85, 174, 255, 0.5);
  text-decoration: none;
}

a:visited,
a:focus {
  color: #55AEFF;
}

a:active,
a:focus {
  color: #55AEFF;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*
nav>ul>li {
  display: inline-block;
}
*/

nav>ul>li>a {
  padding: 0 25px;
  text-transform: uppercase;
  font-weight: 700;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  padding-right: 0;
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #448CCD;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

/*index*/
#hero {
  text-align: center;
}

#hero h2 {
  text-align: center;
  font-weight: 300;
  font-size: 30px;
}

#hero {
  padding: 30px 0;
  display: inline-block;
  width: 100%;
}

  /* 3D 卡片外容器 */ 
.grid-container {
  display: grid;
  grid-template-columns: 1fr; /* 只有一列 */
  grid-template-rows: auto auto; /* 两行，每行高度自适应 */
  gap: 52px; /* 行间距为80px */
  margin-bottom: 80px;
}

.row {
  margin: 50px 0;
  display: inline-block;
  width: 100%;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(22, 16, 31, 0.3);
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(22, 16, 31, 0.3);
}

#contact {
  text-align: center;
}

#contact h3 {
  font-weight: 700;
  margin-bottom: 60px;
}

#contact p {
  padding: 25px;
  font-size: 0.75em;
}

/*social media icons*/
.social {
  padding: 20px;
}

.social:hover {
  opacity: 0.5;
}

/*email link*/
.email {
  font-size: 1.50em;
  text-transform: uppercase;
  max-width: 80%;
}

.email {
  color: #55AEFF;
  position: relative;
  text-decoration: none;
  transition: color .4s ease-out;
}

.email:hover {
  color: #55AEFF;
  right: 0;
  text-decoration: none;
}

.email:hover:after {
  border-color: #55AEFF;
  right: 0;
}

.email:after {
  border-radius: 1em;
  border-top: .1em solid #55AEFF;
  content: "";
  position: absolute;
  right: 100%;
  bottom: .14em;
  left: 0;
  transition: right .4s cubic-bezier(0, .5, 0, 1);
}

.email:hover:after {
  right: 0;
}

/*project*/
#workcontent h1 {
  text-align: center;
}

#workcontent h3 {
  text-align: center;
  font-weight: 700;
  color: #55AEFF;
}

#workcontent h4 {
  font-weight: 500;
}



/*work images*/
.cover-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  text-align: center;
  border-radius: 5px;
}

.img-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 50%;
  text-align: center;
  border-radius: 10px;
}

.img-container-large {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 70%;
  text-align: center;
  border-radius: 10px;
}

.img-container-mid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 40%;
  text-align: center;
  border-radius: 10px;
}

.img-container-small {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 30%;
  text-align: center;
  border-radius: 5px;
}

.img-container-xsmall {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 20%;
  text-align: center;
  border-radius: 5px;
}

/*animation example*/
@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/*about page*/
.about-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-height: 50%;
  border-radius: 25px;
}

.center-all {
  text-align: center;
}

#aboutme h1, h2 {
  text-align: center;
}

.resumebutton, .resumebutton:visited {
  display: inline-block;
  background-color: #55AEFF;
  border: 2px solid #55AEFF;
  color: white;
  font-size: 16px;
  text-decoration: none;
  padding: 12px 32px;
  margin-top: 50px;
  opacity: 1;
  transition-duration: 0.4s;
  border-radius: 8px;
}

.resumebutton:hover {
  background-color: white;
  border: 2px solid #55AEFF;
  color: #55AEFF;
}

/*View Project buttons*/
.button, .button:visited {
  display: inline-block;
  background-color: #55AEFF;
  border: 2px solid #55AEFF;
  color: white;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 30px;
  margin-top: 50px;
  opacity: 1;
  transition-duration: 0.4s;
  border-radius: 8px;
}

.button:after {
  background-color: white;
  border: 2px solid #55AEFF;
  color: #55AEFF;
}

.button:hover {
  background-color: white;
  border: 2px solid #55AEFF;
  color: #55AEFF;
}

.button:hover:after {
  width: 110%;
}

/*back to top button*/
#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 1000;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #55AEFF;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
}

#myBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}

/*media queries*/
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    /*position: relative;*/
    position: sticky;
    top:0; 
    z-index: 1000;
    text-align: unset;
    padding: 20px 0 20px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 70px;
  }
  main{
    background-position: center top;
    padding-top: 80px;
  }
  /* 3D 卡片外容器 */ 
.grid-container {
  display: grid;
  z-index: 0;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 48px 40px 64px 40px;
  margin-bottom: 0;
}
  .navtoggle.responsive li {
    display: block;
    padding: 0;
    border-top: none;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .navtoggle.responsive nav {
    padding: 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }
}

/* ==============================
Responsive design -- Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 14px;
    font-weight: 400;
  }

  main {
    padding-top: 30px;
  }
  
  /* 3D 卡片外容器 */ 
.grid-container {
  display: grid;
  z-index: 0;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 48px 40px 64px 40px;
  margin-bottom: 0;
}
  .text-container {
    padding: 50px 240px;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  body {
    font-size: 14px;
    font-weight: 400;
  }

  /* 3D 卡片外容器 */ 
.grid-container {
  display: grid;
  z-index: 0;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 48px 40px 64px 40px;
  margin-bottom: 0;
}
  .text-container {
    padding: 50px 240px;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }
  
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}



/* 3D 卡片 */ 


/* 3D 卡片容器 */ 
.domaincard_container {
  display:block;
  position: relative;
  margin: auto;  /* 添加水平居中 */
  width: 360px;
  height: 280px;
  transition: 200ms;
}

.domaincard_container:active {
  width: 420px;
  height: 284px;
}

#domaincard {
  position: absolute;
  inset: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  transition: 700ms;
}

.subtitle {
  transform: translateY(170px);
  color: #448CCD;
  text-align: center;
  width: 100%;
}

.title {
  opacity: 0;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out-out;
  transition-delay: 100ms;
  position: absolute;
  font-size: larger;
  font-weight: normal;
  color: white;
}

.tracker:hover ~ #domaincard .title {
  opacity: 1;
}

#prompt {
  margin:auto;
  text-align: center;
  z-index: 20;
  font-size: 64px;
  font-family: 'Bebas Neue', "Copperplate", "Helvetica", Fantasy;
  line-height: 1.2;
  text-shadow: 2px 2px 5px rgba(0, 0, 0,0.06);
  transition: 300ms ease-in-out-out;
  position: absolute;
  max-width: 100%;
  color: rgb(255, 255, 255);
}

.tracker {
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
}

.tracker:hover {
  cursor: pointer;
}

.tracker:hover ~ #domaincard #prompt {
  opacity: 0;
}

.tracker:hover ~ #domaincard {
  transition: 300ms;
  filter: brightness(1.1);
}

.domaincard_container:hover #domaincard::before {
  transition: 200ms;
  content: '';
  opacity: 80%;
}

.canvas {
  perspective: 800px;
  inset: 0;
  z-index: 200;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0 0;
  grid-template-areas: "tr-1 tr-2 tr-3 tr-4 tr-5"
    "tr-6 tr-7 tr-8 tr-9 tr-10"
    "tr-11 tr-12 tr-13 tr-14 tr-15"
    "tr-16 tr-17 tr-18 tr-19 tr-20"
    "tr-21 tr-22 tr-23 tr-24 tr-25";
}

#domaincard::before {
  content: '';
  background: linear-gradient(43deg, rgb(68, 140, 205) 0%, rgb(85, 174, 255) 46%, rgb(109, 213, 237) 100%);
  filter: blur(2rem);
  opacity: 30%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transition: 200ms;
}

.tr-1 {
  grid-area: tr-1;
}

.tr-2 {
  grid-area: tr-2;
}

.tr-3 {
  grid-area: tr-3;
}

.tr-4 {
  grid-area: tr-4;
}

.tr-5 {
  grid-area: tr-5;
}

.tr-6 {
  grid-area: tr-6;
}

.tr-7 {
  grid-area: tr-7;
}

.tr-8 {
  grid-area: tr-8;
}

.tr-9 {
  grid-area: tr-9;
}

.tr-10 {
  grid-area: tr-10;
}

.tr-11 {
  grid-area: tr-11;
}

.tr-12 {
  grid-area: tr-12;
}

.tr-13 {
  grid-area: tr-13;
}

.tr-14 {
  grid-area: tr-14;
}

.tr-15 {
  grid-area: tr-15;
}

.tr-16 {
  grid-area: tr-16;
}

.tr-17 {
  grid-area: tr-17;
}

.tr-18 {
  grid-area: tr-18;
}

.tr-19 {
  grid-area: tr-19;
}

.tr-20 {
  grid-area: tr-20;
}

.tr-21 {
  grid-area: tr-21;
}

.tr-22 {
  grid-area: tr-22;
}

.tr-23 {
  grid-area: tr-23;
}

.tr-24 {
  grid-area: tr-24;
}

.tr-25 {
  grid-area: tr-25;
}

.tr-1:hover ~ #domaincard {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-2:hover ~ #domaincard {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-3:hover ~ #domaincard {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-4:hover ~ #domaincard {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-5:hover ~ #domaincard {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(10deg) rotateZ(0deg);
}

.tr-6:hover ~ #domaincard {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-7:hover ~ #domaincard {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-8:hover ~ #domaincard {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-9:hover ~ #domaincard {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-10:hover ~ #domaincard {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-11:hover ~ #domaincard {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-12:hover ~ #domaincard {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-13:hover ~ #domaincard {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.tr-14:hover ~ #domaincard {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(5deg) rotateZ(0deg);
}

.tr-15:hover ~ #domaincard {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(10deg) rotateZ(0deg);
}

.tr-16:hover ~ #domaincard {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-17:hover ~ #domaincard {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-18:hover ~ #domaincard {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-19:hover ~ #domaincard {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-20:hover ~ #domaincard {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-21:hover ~ #domaincard {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-22:hover ~ #domaincard {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-23:hover ~ #domaincard {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-24:hover ~ #domaincard {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-25:hover ~ #domaincard {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(10deg) rotateZ(0deg);
}

.noselect {
  -webkit-touch-callout: none;
   /* iOS Safari */
  -webkit-user-select: none;
   /* Safari */
   /* Konqueror HTML */
  -moz-user-select: none;
   /* Old versions of Firefox */
  -ms-user-select: none;
   /* Internet Explorer/Edge */
  user-select: none;
   /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

